@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Server.Kestrel.Core
@model List<WebApp.Controllers.ContactModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kontakty</h2>
<a class="btn btn-primary" asp-action="Add" asp-controller="Contact">Dodaj kontakt</a>
<h4>Lista kontaktów</h4>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(l => l[0].FirstName)</th>
            <th>@Html.DisplayNameFor(l => l[0].LastName)</th>
            <th>@Html.DisplayNameFor(l => l[0].Category)</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in @Model)
        {
            <tr>
                <td>@entry.FirstName</td>
                <td>@entry.LastName </td>
                <td>@entry.Category.GetDisplayName()</td>
                <td>
                    <div class="float-end">
                        <a class="btn btn-success" asp-action="Edit" asp-controller="Contact">Edycja</a>
                        <a class="btn btn-info" asp-action="Details" asp-controller="Contact">Szczegóły</a>
                        <a class="btn btn-danger" asp-controller="Contact" asp-action="Delete" asp-route-id="@entry.Id">Usuń</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3 class="text-danger">Nie ma jeszcze kontaków...</h3>
}
